<div class="zoo-gallery">
    <div class='animal-block col-xs-4' *ngFor="let animal of this.animals.animals">
        <h4 class='card-title'>The {{animal.name}}!</h4>
        <div class="card" style="width: 20rem;" *ngIf="animal.quantity !== 0">
            <img class="card-img-top img" width="200" src="{{animal.imageUrl}}" alt="Card image cap">
            <div class="card-block">
                <h5>Species: {{animal.species}}</h5>
                <h5>Height: {{animal.height}} inches</h5>
                <h5>Weight: {{animal.weight}} pounds</h5>
                <h5>Description:{{animal.desc}}</h5>
                <div>
                    <button class="btn btn-success" (click)="quantityUp(animal)"> + </button>
                    <h5>Quantity: {{animal.quantity }} </h5>
                    <button class="btn btn-danger" (click)="quantityDown(animal)"> - </button>
                </div>
            </div>
        </div>
    </div>
</div>