/* You can add global styles to this file, and also import other style files */

app-root {
    padding: 0 2em 0 2em;
    margin: 0 auto;
}

.zoo-gallery {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.zoo-header {
    text-align: center;
    margin-top: -1em;
}

.animal-block {
    margin: 1px;
    border: 1px solid black;
}

.col-xs-4 {
    width: 35%;
}

form {
    padding: 1em;
}

.container {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    width: 80%;
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #42A948;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #a94442;
    /* red */
}

.form-img {
    margin-left: 50%;
    margin-top: 2em;
}